<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>

    <a href="https://kauth.kakao.com/oauth/authorize?client_id=ccbac5ca9c6a907992ba6c1c10fd98d4&redirect_uri=http://localhost:8080/oauth2/kakao&response_type=code">카카오 로그인</a>
    <a href="https://kauth.kakao.com/oauth/logout?client_id=ccbac5ca9c6a907992ba6c1c10fd98d4&logout_redirect_uri=http://localhost:8080/oauth2/kakao">로그아웃</a>
    <a href="https://developers.kakao.com/docs/latest/ko/kakaologin/rest-api">명세서보기</a>
</body>
</html>